<!-- <header class="app-header">
  <mat-toolbar>
    <img src="assets/imagens/logo.png" alt="Converso de Moedas">
    <span>Conversor de Moedas</span>
    <span class="spacer"></span>
    <button mat-button>Início</button>
    <button mat-button>Lista de símbolos</button>
    <button mat-stroked-button>Converter moedas</button>
    <button mat-button>Histórico</button>
  </mat-toolbar>
</header>
 -->
 <nav class="navbar navbar-expand-md bg-dark  px-lg-5" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/imagens/logo.png" class="me-2" alt="Converso de Moedas">
      <span>Conversor de Moedas</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lista de símbolos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Converter moedas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Histórico</a>
        </li>
      </ul>
    </div>
  </div>
</nav>