 <nav class="navbar navbar-expand-md bg-dark px-lg-5" data-bs-theme="dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="assets/imagens/logo.png" class="me-2" alt="Converso de Moedas">
      <span>Conversor</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}" (click)="toggleNavbar()">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coin-list" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}" (click)="toggleNavbar()">Listagem de Moedas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/currency-converter" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}" (click)="toggleNavbar()">Conversão de Moedas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coin-history" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{exact: true}" (click)="toggleNavbar()">Histórico</a>
        </li>
      </ul>
    </div>

  </div>
</nav>