
.app-header {
  img {
   margin-right: 8px;
  }
  button {
    margin: 0 16px;
  }


  .router-link-active {
    color: rgb(144, 201, 111);
  }

  .navbar-toggler.collapsed>.close,
  .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display: none;
  }

  .mat-icon {
    font-size: 24px;
    margin-left: 5px;
    color: #bcbcbc;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: black;
    color: white;
    // padding: 0 256px;
    display: flex;
    align-items: center;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: white;
  }
}

.router-link-active {
  color: #90c96f;
}
.nav-link:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.nav-link {
  animation: bounce;
  animation-duration: 2s;
}