<app-card variant="secondary" class="form-conversor">

  <form #f="ngForm" (ngSubmit)="converter(f)">

    <h2>Selecione a moeda a ser convertida</h2>
    <div class="flex-container">

      <div class="">

        <mat-form-field floatLabel="always">
          <mat-label>Valor</mat-label>
          <input matInput type="number" name="valor" id="valor" ngModel required class="example-right-align"
            placeholder="0" pattern="^[1-9][0-9]*$" #valor="ngModel">
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
      </div>

      <div class="d-md-flex gap-2">
        <div class="">
          <label for="exampleDataList" class="form-label">De</label>
          <input class="form-control mb-4 mb-md-0" list="datalistOptions" id="exampleDataList"
            placeholder="Pesquisar">
          <datalist id="datalistOptions">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
          </datalist>
        </div>
        <div class="">
          <label for="exampleDataList" class="form-label">Para</label>
          <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Pesquisar">
          <datalist id="datalistOptions">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
          </datalist>
        </div>

      </div>

    </div>
    <div class="box-alert"
      *ngIf="(valor?.invalid && valor?.touched) || valor?.dirty">
      <app-message *ngIf="valor?.errors?.['required'] || (valor?.value <= 0)" mensagem="É obrigatório informar um valor maior que 0(zero)"></app-message>
    </div>
    <div class="btn-submit">
      <button mat-raised-button>Calcular Conversão</button>
    </div>

  </form>

  <div class="result-box">
    <h2>0,00 BRL</h2>
    <p>* Última atualização: 29/08/2023 12:14 UTC-3</p>
  </div>

</app-card>