<!-- <app-card variant="secondary" class="form-conversor" >

  <form #f="ngForm" (ngSubmit)="converter(f)" >

    <h2>Selecione a moeda a ser convertida</h2>
    <div class="flex-container">

      <div class="">

        <mat-form-field floatLabel="always">
          <mat-label>Valor</mat-label>
          <input matInput type="number" name="valor" id="valor" ngModel required class="example-right-align"
            placeholder="0" pattern="^[1-9][0-9]*$" #valor="ngModel">
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
      </div>

      <div class="d-md-flex gap-2">
        <mat-form-field>
          <label>De</label>
          <input type="text" matInput placeholder="Selecione Moeda" formControlName="moeda1" ngModel required [matAutocomplete]="autoGroup1" name="moeda1" id="moeda1" >
        <mat-autocomplete #autoGroup1="matAutocomplete">
          <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name">
              {{name}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
        <mat-form-field>
          <label>Para</label>
          <input type="text" matInput placeholder="Selecione Moeda" formControlName="moeda2" required [matAutocomplete]="autoGroup2" name="moeda2" id="moeda2">
          <mat-autocomplete #autoGroup2="matAutocomplete">
            <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
              <mat-option *ngFor="let name of group.names" [value]="name">
                {{name}}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </mat-form-field>

      </div>


    </div>
    <div class="box-alert"
      *ngIf="(valor?.invalid && valor?.touched) || valor?.dirty">
      <app-message *ngIf="valor?.errors?.['required'] || (valor?.value <= 0)" mensagem="É obrigatório informar um valor maior que 0(zero)"></app-message>
    </div>

    <div class="btn-submit">
      <button mat-raised-button>Calcular Conversão</button>
    </div>

  </form>

  <div class="result-box">
    <h2>0,00 BRL</h2>
    <p>* Última atualização: 29/08/2023 12:14 UTC-3</p>
  </div>

</app-card> -->