.homepage {

  h2 {
    font-size: 32px;
  }
  .linkApi{
    color: black;
  }
  .linkApi:hover {
    color: #90c96f;
  }

  .box-home{
    background: linear-gradient(to right, #c2ceb9, #ffffff);
  }

}
