<section class="homepage">
  <app-banner
    src="assets/imagens/banner-homepage.png"
    alt="Banner da aplicação"
  ></app-banner>

  <app-container class="d-flex flex-column align-items-center justify-content-center ">
    <div class="card box-home shadow my-5">
      <div class="card-header fw-semibold fs-4 text-center py-4">
        Conversor de Moedas
      </div>
      <div class="card-body d-flex flex-column align-items-center pt-2 pb-4">
        <img src="assets/imagens/logo.png" alt="logo" class="py-4" />
        <p class="fs-5 mb-5 text-center">Projeto de conversão de moedas para exemplificar o consumo de APIs.</p>
        <a routerLink="/currency-converter" class="btn shadow btn-outline-success text-black">Converter moedas</a>
      </div>
    </div>
    <p class="text-center">Utiliza a API: <b><a class="linkApi" href="https://exchangerate.host/"
        target="_blank">https://exchangerate.host/</a></b></p>
  </app-container>

</section>
