<footer class="app-footer fixed-bottom text-white">
  <app-container>
    <div class="inner">
      <ul>
        <li class="p-0 fw-light">
          <small>
            Desenvolvido por Wisley A. Sousa. Projeto fictício sem fins comerciais.
          </small>
        </li>

      </ul>
      <ul class="socials py-2">
        <li class="fw-light">Acesse nossas redes:</li>
        <li class="d-flex justify-content-between py-2">
          <a href="https://api.whatsapp.com/send/?phone=5589981006900&text&type=phone_number&app_absent=0" title="WhatsApp"
          target="_blank" mat-icon-button class="bg-transparent icon-social border-0">
            <img class="" src="assets/icones/whatsapp.png" alt="Ícone do whatsapp">
          </a>
          <a mat-icon-button class="bg-transparent icon-social border-0" href="https://github.com/WisleyASousa"
          title="Github" target="_blank">
            <img src="assets/icones/github.svg" alt="Ícone do Github">
          </a>
          <a href="https://www.linkedin.com/in/wisley-asousa843060a2/"
          title="LinkedIn" target="_blank" mat-icon-button class=" bg-transparent border-0 icon-social">
            <img src="assets/icones/linkedin.svg" alt="Ícone do LinkedIn" >
          </a>
        </li>
      </ul>
    </div>
  </app-container>
</footer>