<footer class="app-footer fixed-bottom text-white">
  <app-container>
    <div class="inner">
      <ul>
        <li class="p-0 fw-light">
          <small>
            Desenvolvido por Wisley A. Sousa. Projeto fictício sem fins comerciais.
          </small>
        </li>

      </ul>
      <ul class="socials py-2">
        <li class="fw-light">Acesse nossas redes:</li>
        <li>
          <button mat-icon-button class="bg-transparent border-0">
            <img class="" src="assets/icones/whatsapp.png" alt="Ícone do whatsapp">
          </button>
          <button mat-icon-button class="bg-transparent border-0">
            <img src="assets/icones/instagram.png" alt="Ícone do instagram">
          </button>
          <button mat-icon-button class="bg-transparent border-0">
            <img src="assets/icones/twitter.png" alt="Ícone do twitter">
          </button>
        </li>
      </ul>
    </div>
  </app-container>
</footer>