<app-container>

  <div class="container ">

    <h2 class="text-center fs-3 mb-4">Histórico de Conversões</h2>
    <div class="text-center no-history" *ngIf="history.length === 0">
      <mat-icon> history icon</mat-icon>
      <p>Sem conversão realizadas!</p>
    </div>

    <div *ngIf="history.length !== 0">
      <div class="table-responsive shadow">
        <table class="table table-rounded">
          <thead>
            <tr class="text-center text-dark">
              <th class="thread-color">Data</th>
              <th class="thread-color">Hora</th>
              <th class="thread-color">Valor</th>
              <th class="thread-color">Moeda Origem</th>
              <th class="thread-color">Moeda Destino</th>
              <th class="thread-color">Resultado</th>
              <th class="thread-color">Taxa</th>
              <th class="thread-color">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-center"
              @hoverShow
              *ngFor="let item of history; let i = index"
              (mouseover)="indexHover = i"
              [@hoverShow]="indexHover === i ? 'show' : 'default'"
            >
              <td>{{ item.date }}</td>
              <td>{{ item.time }}</td>
              <td>{{ item.input }}</td>
              <td>{{ item.originCurrency }}</td>
              <td>{{ item.destinyCurrency }}</td>
              <td>{{ item.output }}
                <button type="button " title="Valor é superior que 10000 dólares"
                  class="btn d-flex mx-auto align-items-center justify-content-center">
                  <p *ngIf="item.highValue" class="highvalue m-0 btn-transition">Aviso!
                  </p>
                </button>
              </td>
              <td>{{ item.rate }}</td>
              <td>
                <mat-icon color="warn" class="delete btn-transition" (click)="exibirDialogoExclusaoConversao(i)"
                  title="Excluir Conversão">delete</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="ordenar text-dark fs-6">
        <span><strong>Hora: </strong> <mat-icon class="mat-icon-rtl-mirror" (click)="OrdenarHistorico('TimeAsc')"
            [ngStyle]="{'color': filtroOrdenacao === 'TimeAsc' ? 'black' : 'white'}"
            title="Ordem crescente">arrow_circle_up</mat-icon>
          <mat-icon class="mat-icon-rtl-mirror" (click)="OrdenarHistorico('TimeDesc')"
            [ngStyle]="{'color': filtroOrdenacao === 'TimeDesc' ? 'black' : 'white'}"
            title="Ordem decrescente">arrow_circle_down</mat-icon>
        </span>
        <span><strong>Resultado: </strong> <mat-icon class="mat-icon-rtl-mirror" (click)="OrdenarHistorico('OutputAsc')"
            [ngStyle]="{'color': filtroOrdenacao === 'OutputAsc' ? 'black' : 'white'}"
            title="Ordem crescente">arrow_circle_up</mat-icon>
          <mat-icon class="mat-icon-rtl-mirror" (click)="OrdenarHistorico('OutputDesc')"
            [ngStyle]="{'color': filtroOrdenacao === 'OutputDesc' ? 'black' : 'white'}"
            title="Ordem decrescente">arrow_circle_down</mat-icon>
        </span>
      </div>
    </div>

    <div class="text-center mt-4" *ngIf="history.length > 1">
      <button class="btn btn-transition btn-outline-danger" (click)="exibirDialogoExclusaoTodo()"
        title="Deletar histórico">Excluir Tudo</button>
    </div>

    <div class="d-flex justify-content-center fixed-bottom" *ngIf="historyDelete === true">
      <div class="alert alert-info fade show" role="alert">
        <mat-icon class="mr-2 check-circle">check_circle</mat-icon>
        Histório removido com sucesso!
      </div>
    </div>

    <div class="d-flex justify-content-center fixed-bottom" *ngIf="conversionDelete === true">
      <div class="alert alert-info fade show" role="alert">
        <mat-icon class="mr-2 check-circle">check_circle</mat-icon>
        Conversão removida com sucesso!
      </div>
    </div>

  </div>
</app-container>